<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>LearnChess</title>
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
<nav class="bottom-nav">
    <a href="/main" class="nav-link">
        <i class="icon-home"></i>
        <span>Главная</span>
    </a>
    <a href="/play" class="nav-link">
        <i class="icon-chess"></i>
        <span>Играть</span>
    </a>
    <a href="/account" class="nav-link">
        <i class="icon-profile"></i>
        <span>Аккаунт</span>
    </a>
</nav>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
</body>
</html>